<% if(success && success.length) { %>
    <div id="alert" class="alert-slide">
        <%= success %>
    </div>
    <script>
        setTimeout(function() {
            var alertDiv = document.getElementById('alert');
            alertDiv.classList.remove('alert-show');
            setTimeout(function() {
                alertDiv.remove();
            }, 500); 
        }, 2500);
        setTimeout(function() {
            document.getElementById('alert').classList.add('alert-show');
        }, 100); 
    </script>
    
<% } %>

<% if(error && error.length) { %>
    <div id="alert" class="alert-slide alerterrorFlash">
        <%= error %>
    </div>
   
    <script>
        setTimeout(function() {
            var alertDiv = document.getElementById('alert');
            alertDiv.classList.remove('alert-show');
            setTimeout(function() {
                alertDiv.remove();
            }, 500); 
        }, 2500);
        setTimeout(function() {
            document.getElementById('alert').classList.add('alert-show');
        }, 100); 
    </script>
    
<% } %>
