<% if(success && success.length) { %>
    <div class="alert alert-success w-50 m-auto alert-dismissible  fade show flashshow" role="alert">
        <%= success %>
    </div>
    <script>
        setTimeout(function() {
            document.querySelector('.alert-success').style.display = 'none';
        }, 2000); 
    </script>
<% } %>

<% if(error && error.length) { %>
    <div class="alert alert-danger w-50 m-auto alert-dismissible fade show flashshow" role="alert">
        <%= error %>
    </div>
    <script>
        setTimeout(function() {
            document.querySelector('.alert-danger').style.display = 'none';
        }, 2000); 
    </script>
<% } %>

<script>
    console.log("Flash called");
</script>
