
<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass mx-2"></i><b> Explore</b></a>

        <button class="navbar-toggler"  data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span><i class="fa-solid fa-bars"></i></span>
        </button>
        <div class="collapse navbar-collapse mx-0" id="navbarNavAltMarkup">
            <form class="form-inline my-2 my-lg-0 ms-auto d-flex mx-2">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Destination" aria-label="Search">
                <button class="searchBTN" type="submit"><i class="fa-solid  mx-1 fa-magnifying-glass"></i></button>
            </form>
            <div class="navbar-nav  ms-auto">
                    <a class="nav-link addairbnb" href="/listings/new"><i class="fa-solid fa-plus"></i> New AirBnb</a>
                    <% if(!currUser) {%>
                    <a class="nav-link signup  mx-2"  href="/signup">Signup</a>
                    <a class="nav-link login " href="/login">Login</a>
                    <%}%>
                    <% if(currUser) {%>
                        <a class="nav-link logout mx-2 " href="/logout">Logout</a>
                    <%}%>
            </div>
        </div>
    </div>
</nav>