<% layout('/layouts/boilerplate.ejs') -%>
<div class="w-50 m-auto loginpage">
    <div class="m-auto">
        <div class="text-center"><h5><b>Register for wanderlust</b></h5></div>
        <form action="/signup" method="POST" class="needs-validation" novalidate>
            <div class="mb-2">
                <label for="username" class="form-label mb-0">Username</label>
                <input type="text" name="username" 
                placeholder='johndon' class="form-control" required>
                <div class="valid-feedback">
                   looks good
                </div>
              </div>
              <div class="mb-2">
                <label for="email" class="form-label mb-0">Email</label>
                <input type="email" name="email" placeholder="john@gmail.com" class="form-control" required>
                <div class="valid-feedback">
                  looks good
                </div>
              </div>
              <div class="mb-2 ">
                <label for="password" class="form-label mb-0">Password</label>
                <input type="password" name="password" placeholder="john@123" class="form-control" required>
                <div class="valid-feedback">
                  required passwrod
                </div>
              </div>
              <div>
                <button class="usersignup ">Signup</button>
              </div>
        </form>
    </div>
</div>